<app-header></app-header>
<!-- End .header -->
<main class="main">
  <div
    class="intro-slide"
    style="background-image: url(/assets/images/ppp.jpg); width: 100%"
  >
    <div class="container intro-content">
      <h3 class="intro-subtitle text-primary">ROBOSHOP</h3>
      <!-- End .h3 intro-subtitle -->
      <h1 class="intro-title" style="color: #eee">
        Get All <br />The Good Stuff
      </h1>

      <a style="cursor: pointer" class="btn btn-outline-primary-2">
        <span style="color: white">SIGN UP</span>
      </a>
    </div>
    <!-- End .intro-content -->
  </div>

  <!-- ------------------------------ options---------------------------------------------- -->

  <div class="icon-boxes-container bg-transparent" id="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon" style="color: #c96">
              <i class="icon-rocket"></i>
            </span>
            <div class="icon-box-content">
              <h3 class="icon-box-title" style="color: #333">
                Quality Support
              </h3>
              <!-- End .icon-box-title -->
              <p>Alway online feedback 24/7</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon" style="color: #c96">
              <i class="icon-rotate-left"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title" style="color: #333">Free Returns</h3>
              <!-- End .icon-box-title -->
              <p>Within 30 days</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon">
              <i class="icon-info-circle" style="color: #c96"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title" style="color: #333">
                Return & Refund
              </h3>
              <!-- End .icon-box-title -->
              <p>Free 100% money back guarantee</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon">
              <i class="icon-life-ring" style="color: #c96"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title" style="color: #333">We Support</h3>
              <!-- End .icon-box-title -->
              <p>24/7 amazing services</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .icon-boxes-container -->

  <!--  end options  -->

  <!--ABOUT US-->
  <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mb-3 mb-lg-0" style="text-align: center">
          <h2 class="title" id="aboutus">WHO ARE WE ?</h2>
          <!-- End .title -->
          <p class="lead text-primary mb-3">
            Roboshop,the Robot Store For Personal and Professional Robot
            Technology!
          </p>
          <!-- End .lead text-primary -->
          <p class="mb-2">
            At RobotShop, our mission is to put robotics at your service!You
            will find the best selection of Robot Vacuums and other Domestic
            Robots, Professional Robots, Robot Toys, Robot Kits, and Robot Parts
            for building your own robots. RobotShop is also a leading force in
            Robotics Education & Research. We provide a diverse product
            selection, educational and quantity discounts, useful resources and
            specialized support.
          </p>

          <a
            href="#new_arrivals"
            class="btn btn-sm btn-minwidth btn-outline-primary-2"
          >
            <span>VIEW OUR NEWS</span>
            <i class="icon-long-arrow-down"></i>
          </a>
        </div>
        <!-- End .col-lg-5 -->

        <div class="col-lg-6 offset-lg-1">
          <div class="about-images">
            <img
              src="assets/images/aboutus2.jpg"
              alt=""
              class="about-img-front"
            />
            <img
              src="assets/images/aboutus1.jpg"
              alt=""
              class="about-img-back"
            />
          </div>
          <!-- End .about-images -->
        </div>
        <!-- End .col-lg-6 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>

  <!-- end shop Home -->
  <!------------------------------------ FeedBacks------------------------------------------------------>
  <section class="testimonial text-center" id="feedbacks" style="height: 50%">
    <div class="container">
      <div
        class="heading white-heading"
        style="font-size: 20px; margin-top: -35px"
      >
        Testimonial
      </div>
      <div
        id="testimonial4"
        class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
        data-ride="carousel"
        data-pause="hover"
        data-interval="5000"
        data-duration="2000"
      >
        <div class="carousel-inner" role="listbox" style="margin-top: -35px">
          <div class="carousel-item active">
            <div class="testimonial4_slide">
              <p>
                A fantastic organisation! Great cutomer support from beginning
                to end of the process. The team are really informed and go the
                extra mile at every stage. I would recommend them unreservedly.
              </p>
              <h4>Nour ElGali</h4>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial4_slide">
              <p>msg</p>
              <h4>name</h4>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          style="margin-top: -70px"
          href="#testimonial4"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a
          class="carousel-control-next"
          style="margin-top: -70px"
          href="#testimonial4"
          data-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </section>
  <br />
  <br />
  <!------------------------------------End FeedBacks------------------------------------------------------>
  <!--faza jdida-->
  <div class="page-wrapper">
    <div class="container">
      <div class="banner-group">
        <div class="row">
          <div class="col-md-6">
            <div class="banner banner-border">
              <a routerLink="/shop">
                <img
                  src="assets/images/111.jpg"
                  alt="Banner"
                  style="height: 760px"
                />
              </a>
            </div>
            <!-- End .banner -->
          </div>
          <!-- End .col-md-6-->

          <div class="col-md-6">
            <div class="banner banner-border-hover">
              <a routerLink="/shop">
                <img src="assets/images/222.jpg" alt="Banner" />
              </a>

              <div class="banner-content">
                <!-- <a href="#" style="margin-left: 65%;" class="btn btn-outline-primary-2 banner-link">Shop Now<i -->
                <!-- class="icon-long-arrow-right"></i></a> -->
              </div>
              <!-- End .banner-content -->
            </div>
            <!-- End .banner -->
            <div class="banner banner-border-hover">
              <a routerLink="/shop">
                <img src="assets/images/333.jpg" alt="Banner" />
              </a>
            </div>
            <!-- End .banner -->
          </div>
          <!-- End .col-md-6 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .banner-group -->
    </div>
  </div>
  <!-- End .container -->
  <div class="mb-4"></div>
  <!-- End .mb-6 -->

  <main class="main">
    <!------------------------------------ Best Sellers -------------------------------------------->

    <div>
      <div class="heading heading-center mb-3">
        <h2 class="title-lg" id="trends">Trendy Products</h2>
        <!-- End .title -->
      </div>
      <!-- End .heading -->
    </div>
    <!-- End .container -->

    <!-- ------------------ end Best Sellers --------------------------------- -->
    <!--blog-->
    <br />
    <br />
    <div class="blog-posts">
      <div class="container">
        <div class="heading text-center">
          <h2 class="title" id="blog">New Blog Posts</h2>
          <!-- End .title -->
          <p class="title-desc">
            Donec nec justo eget felis facilisis fermentum.
          </p>
          <!-- End .title-desc -->
        </div>
        <!-- End .heading -->

        <!-- <app-home-blog></app-home-blog> -->
        <!-- End .container -->
      </div>
      <!-- End .blog-posts -->
    </div>
  </main>

  <button id="scroll-top" title="Back to Top">
    <i class="icon-arrow-up"></i>
  </button>
</main>

<!-- <app-mobile-menu></app-mobile-menu> -->
<app-footer></app-footer>
