<form>
  <div>
    <div class="form-group">
      <label for="singin-email-2">Username or email address *</label>
      <input type="text" id="singin-email-2" name="singin-email" required />
    </div>
    <!-- End .form-group -->
  </div>
  <div class="form-group">
    <label for="singin-password-2">Password *</label>
    <input
      type="password"
      class="form-control"
      id="singin-password-2"
      name="singin-password"
      required
    />
  </div>
  <!-- End .form-group -->
  <div style="color: red">msgError</div>
  <div class="form-footer">
    <button type="submit" class="btn btn-outline-primary-2">
      <span>LOG IN</span>
      <i class="icon-long-arrow-right"></i>
    </button>

    <a
      style="cursor: pointer"
      href="#signin-modal"
      data-toggle="modal"
      class="forgot-link"
      >Forgot Your Password?</a
    >
  </div>
  <!-- End .form-footer -->
</form>

<!-- .End .tab-pane -->
