<form>
  <div class="row">
    <div class="col-sm-6">
      <label>Your First Name *</label>
      <input
        type="text"
        formControlName="fname"
        class="form-control"
        required
      />
    </div>
    <!-- End .col-sm-6 -->

    <div class="col-sm-6">
      <label>Your Last Name *</label>
      <input
        type="text"
        formControlName="lname"
        class="form-control"
        required
      />
    </div>
    <!-- End .col-sm-6 -->
  </div>
  <!-- End .row -->

  <div>
    <div class="form-group">
      <label for="register-email-2">Your email address *</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        required
      />
    </div>
    <!-- End .form-group -->
  </div>

  <div class="form-group">
    <label for="register-password-2">Password *</label>
    <input
      type="password"
      formControlName="pwd"
      class="form-control"
      required
    />
  </div>
  <!-- End .form-group -->

  <div class="form-group">
    <label for="confirm-password-2">Confirm Password *</label>
    <input
      type="password"
      class="form-control"
      formControlName="confirm_pwd"
      id="confirm_pwd"
      name="confirm-password"
      required
    />
  </div>
  <!-- End .form-group -->

  <div class="row">
    <div class="col-sm-6">
      <label>Town / City *</label>
      <input type="text" formControlName="city" class="form-control" required />
    </div>
    <!-- End .col-sm-6 -->

    <div class="col-sm-6">
      <label>State / Country *</label>
      <input
        type="text"
        formControlName="country"
        class="form-control"
        required
      />
    </div>
    <!-- End .col-sm-6 -->
  </div>
  <!-- End .row -->

  <div class="row">
    <div class="col-sm-6">
      <label>Postcode / ZIP *</label>
      <input
        type="number"
        formControlName="postcode"
        class="form-control"
        required
      />
    </div>
    <!-- End .col-sm-6 -->

    <div class="col-sm-6">
      <label>Phone Number *</label>
      <input type="tel" formControlName="phone" class="form-control" required />
    </div>
    <!-- End .row -->
  </div>

  <div style="color: red">msg</div>
  <div class="form-footer">
    <button type="submit" class="btn btn-outline-primary-2">
      <span>SIGN UP</span>
      <i class="icon-long-arrow-right"></i>
    </button>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="checkbox" />
      <label class="custom-control-label" for="checkbox">
        I agree to the <a>privacy policy</a> *</label
      >
    </div>
    <!-- End .custom-checkbox -->
  </div>
  <!-- End .form-footer -->
</form>
